services:
  aiomanager:
    image: ghcr.io/sonicx161/aiomanager:latest
    container_name: aiomanager
    restart: unless-stopped
    ports:
      - "1610:1610"
    env_file:
      - .env
    volumes:
      - ./aio-data:/app/data
    healthcheck:
      # NOTE: If you use Traefik/Reverse Proxies and see 404s, remove the healthcheck block.
      test: [ "CMD", "node", "server/healthcheck.js" ]
      interval: 1m
      timeout: 10s
      retries: 5
      start_period: 15s
    depends_on:
      aiomanager-db:
        condition: service_healthy

    environment:
      - DATABASE_URL=postgres://aio_user:aio_password@aiomanager-db:5432/aio_manager

  # --- Internal PostgreSQL Service ---
  aiomanager-db:
    image: postgres:16-alpine
    container_name: aiomanager_db
    restart: unless-stopped
    environment:
      - POSTGRES_USER=aio_user
      - POSTGRES_PASSWORD=aio_password
      - POSTGRES_DB=aio_manager
    volumes:
      - ./aio-db-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U aio_user -d aio_manager" ]
      interval: 10s
      timeout: 5s
      retries: 5
